## 누락값 : NaN


### * 누락값이 생기는 이유
    1- 데이타 자체적으로 존재
    2- 데이타 연결하면서
    3- 데이타 입력시
    4- 데이타 추출하여 연산할 때
    

### * 누락값 확인하기
    1- 누락값 인지 확인
        + df.isnull()
        + df.notnull()
    
    2- 누락값이 아닌 값의 개수 확인
        + df.sharp[0] - df.count()
        
    3- 누락값 수 확인 
        +  numpy 라이브러리의 count_nonzero() 이용


    

### * 누락값 처리하기
     (1) 누락값 삭제하기 : dropna()
     (2) 누락값을 다른 값으로 대치하기 : fillna()

In [1]:
# 누락값 개념

False
False
False
False

In [3]:
# 누락값 비교 방법 : pandas 메소드 이용
import pandas as pd

True
False
False
False

In [12]:
""" 누락값이 생기는 이유
    1- 데이타 자체적으로 존재
    2- 데이타 연결하면서
    3- 데이타 입력시
    4- 데이타 추출하여 연산할 때
"""

import pandas as pd

survey = pd.read_csv('./data/survey_survey.csv')
# survey
visited = pd.read_csv('./data/survey_visited.csv')
# visited

  ident   site       dated
0   619   DR-1  1927-02-08
1   622   DR-1  1927-02-10
2   734   DR-3  1939-01-07
3   735   DR-3  1930-01-12
4   751   DR-3  1930-02-26
5   752   DR-3         NaN
6   837  MSK-4  1932-01-14
7   844   DR-1  1932-03-22
0   900   DR-4
        dated ident   site
0  1927-02-08   619   DR-1
1  1927-02-10   622   DR-1
2  1939-01-07   734   DR-3
3  1930-01-12   735   DR-3
4  1930-02-26   751   DR-3
5         NaN   752   DR-3
6  1932-01-14   837  MSK-4
7  1932-03-22   844   DR-1
0         NaN   900   DR-4

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

### Countires.tsv 파일에서

1. 년도별 각 나라의 생활비의 평균을 구한다

2. 1번의 데이타 셋에서 2000년도에서 2010년 동안의 데이타 셋을 추출

3. 값이 있는 데이타만 출력한다면

In [16]:
countries = pd.read_csv('./data/countries.tsv', sep='\t')
countries

# (1) 년도별 각 나라의 생활비의 평균을 구한다


# (2) 2000~2010 동안의 데이타를 추출하고자 한다면


# (3) 범위 지정으로 인해 NaN값이 생긴 경우 해결책 -> 해당 데이타만 추출하고자

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64
year
2000          NaN
2001          NaN
2002    65.694923
2003          NaN
2004          NaN
2005          NaN
2006          NaN
2007    67.007423
2008          NaN
2009          NaN
Name: lifeExp, dtype: float64
year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

## 누락값 처리하기


(0) 누락값 확인

(1) 누락값 삭제

(2) 누락값 대치

In [38]:
""" 누락값 확인 """
ebola = pd.read_csv('./data/ebola_timeseries.csv')
# 제일 먼저 데이타 확인

# 누락값이 아닌 값의 개수 확인


# 누락값의 수 구하기


# 전체적인 누락값의 수를 얻으려면 - numpy 라이브러리의 count_nonzero() 이용

(122, 18)
1214
982

In [27]:
""" (1) 누락값 삭제하기 """

(1, 18)

In [36]:
""" (2) 누락값 대치하기 """

     Cases_Guinea  Cases_Liberia  Cases_mul
0          2776.0            0.0     2776.0
1          2775.0            0.0     2775.0
2          2769.0         8166.0    10935.0
3             0.0         8157.0     8157.0
4          2730.0         8115.0    10845.0
5          2706.0         8018.0    10724.0
6          2695.0            0.0     2695.0
7          2630.0         7977.0    10607.0
8          2597.0            0.0     2597.0
9          2571.0         7862.0    10433.0
10            0.0         7830.0     7830.0
11         2416.0            0.0     2416.0
12            0.0         7797.0     7797.0
13         2292.0            0.0     2292.0
14            0.0         7719.0     7719.0
15         2164.0            0.0     2164.0
16            0.0         7635.0     7635.0
17         2134.0            0.0     2134.0
18            0.0         7168.0     7168.0
19         2047.0         7082.0     9129.0
20         1971.0            0.0     1971.0
21            0.0         7069.0     7069.0
22         1919.0            0.0     1919.0
23            0.0         6878.0     6878.0
24         1878.0            0.0     1878.0
25            0.0         6822.0     6822.0
26            0.0         6619.0     6619.0
27         1760.0            0.0     1760.0
28         1731.0            0.0     1731.0
29            0.0         6525.0     6525.0
..            ...            ...        ...
92          258.0           12.0      270.0
93          248.0           12.0      260.0
94          233.0           12.0      245.0
95          236.0           13.0      249.0
96          235.0           13.0      248.0
97          231.0           13.0      244.0
98          226.0           13.0      239.0
99          224.0            0.0      224.0
100           0.0           35.0       35.0
101         218.0            0.0      218.0
102           0.0            0.0        0.0
103           0.0           34.0       34.0
104         208.0            0.0      208.0
105         203.0           27.0      230.0
106         197.0           27.0      224.0
107           0.0            0.0        0.0
108         168.0            0.0      168.0
109         159.0           26.0      185.0
110         158.0           25.0      183.0
111         151.0           21.0      172.0
112         143.0           18.0      161.0
113         127.0            8.0      135.0
114         122.0            8.0      130.0
115         112.0            7.0      119.0
116         112.0            3.0      115.0
117         103.0            8.0      111.0
118          86.0            0.0       86.0
119          86.0            0.0       86.0
120          86.0            0.0       86.0
121          49.0            0.0       49.0

[122 rows x 3 columns]

그럼 누락값 처리로 Data Cleaning 후 데이터 처리(Data Process)를 진행한다면?