#    미국 주와 주별 인구 데이타 예제 
     - 2010년도 인구 밀도 기준으로 미국 주와 지역 순위를 출력
 
1. 데이타를 로딩 후 데이타 정보 확인


2. 데이타 연결
        1- 인구 데이타와 주이름 약어 데이타를 연결
            ( 각 주의 전체 이름과 인구를 볼 수 있도록 )
            
        2- 각 주의 인구 데이타와 면적 데이타를 연결
            ( 각 주의 면적당 인구를 계산하여 인구 밀도를 구하기 )
            
3. 데이타 정제(데이타 전처리)
     * 누락값 처리
        1. 삭제한다
        2. 대체한다
    
    실제로 2000년 이전의 PR(푸에르토리토)의 인구 데이타가 없는 것이다.
    여기서는 2010년 데이타를 구할 것이기에 삭제해도 되지만 대체하는 방식을 연습한다
    또한 전체 미국을 뜻하는 USA에 state와 abbreviation이 없다.
 
 
4. 2010년 인구밀도 계산하고 표현
        인구밀도 = 인구 / 면적
        

 
    [도서] 파이썬 데이타 사이언스 핸드북 - 위키북스/오렐리

---
## 1. 데이타를 로딩 후 데이타 정보 확인

In [1]:
# 1. 데이타를 로딩 후 데이타 정보 확인
import pandas as pd

pop = pd.read_csv('./data/state-population.csv')    # 주별 인구
areas = pd.read_csv('./data/state-areas.csv')       # 주의 면적
abbrevs = pd.read_csv('./data/state-abbrevs.csv')   # 주이름 약자

# 데이타 살펴보기
pop 
# 행수 확인

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
5              AL    total  2011    4801627.0
6              AL    total  2009    4757938.0
7              AL  under18  2009    1134192.0
8              AL  under18  2013    1111481.0
9              AL    total  2013    4833722.0
10             AL    total  2007    4672840.0
11             AL  under18  2007    1132296.0
12             AL    total  2008    4718206.0
13             AL  under18  2008    1134927.0
14             AL    total  2005    4569805.0
15             AL  under18  2005    1117229.0
16             AL    total  2006    4628981.0
17             AL  under18  2006    1126798.0
18             AL    total  2004    4530729.0
19             AL  under18  2004    1113662.0
20             AL    total  2003    4503491.0
21             AL  under18  2003    1113083.0
22             AL    total  2001    4467634.0
23             AL  under18  2001    1120409.0
24             AL    total  2002    4480089.0
25             AL  under18  2002    1116590.0
26             AL  under18  1999    1121287.0
27             AL    total  1999    4430141.0
28             AL    total  2000    4452173.0
29             AL  under18  2000    1122273.0
...           ...      ...   ...          ...
2514          USA  under18  1999   71946051.0
2515          USA    total  2000  282162411.0
2516          USA  under18  2000   72376189.0
2517          USA    total  1999  279040181.0
2518          USA    total  2001  284968955.0
2519          USA  under18  2001   72671175.0
2520          USA    total  2002  287625193.0
2521          USA  under18  2002   72936457.0
2522          USA    total  2003  290107933.0
2523          USA  under18  2003   73100758.0
2524          USA    total  2004  292805298.0
2525          USA  under18  2004   73297735.0
2526          USA    total  2005  295516599.0
2527          USA  under18  2005   73523669.0
2528          USA    total  2006  298379912.0
2529          USA  under18  2006   73757714.0
2530          USA    total  2007  301231207.0
2531          USA  under18  2007   74019405.0
2532          USA    total  2008  304093966.0
2533          USA  under18  2008   74104602.0
2534          USA  under18  2013   73585872.0
2535          USA    total  2013  316128839.0
2536          USA    total  2009  306771529.0
2537          USA  under18  2009   74134167.0
2538          USA  under18  2010   74119556.0
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]

---
## 2. 데이타 연결
        
    1- 인구 데이타(pop)와 주이름 약어 데이타(abbrevs)를 연결
            ( 각 주의 전체 이름과 인구를 볼 수 있도록 )
    2- 각 주의 인구 데이타(pop)와 면적 데이타(areas)를 연결
            ( 각 주의 면적당 인구를 계산하여 인구 밀도를 구하기 )

---
##  3. 데이타 정제 -    누락값 처리

        (1) 삭제한다
        (2) 대체한다
    
    실제로 2000년 이전의 PR(푸에르토리토)의 인구 데이타가 없는 것이다.
    여기서는 2010년 데이타를 구할 것이기에 삭제해도 되지만 대체하는 방식을 연습한다
    또한 전체 미국을 뜻하는 USA에 state와 abbreviation이 없다.

In [2]:

# (1) null 값 확인


# (2) 우선 state 컬럼의 null 처리

## 4. 각 주의 인구를 연결한 데이타셋에 주의 면적 데이타 셋을 연결하기 

(merge이용)


#### 1- pop과 abbreviation의 연결한 데이타셋과 areas(면적) 데이타셋을 연결

#### 2-널 값 여부 확인

#### 3- 널값 확인

#### 4- 널값 처리 : 데이타 삭제하기
    미국 전역에 대한 데이타는 인구 밀도와 관련이 없기에 삭제
    
#### 5- 면적이 null 값이 있는지 없는지 확인

In [3]:
# 각 주의 인구를 연결한 데이타셋에 주의 면적 데이타 셋을 연결하기

# 1- pop과 abbreviation의 연결한 데이타셋과 areas(면적) 데이타셋을 연결

# 2-널 값 여부 확인

# 3- 널값 확인 : 면적값이 널인 주를 찾으면

In [4]:
# 4- 널값 처리 : 데이타 삭제하기
# 미국 전역에 대한 데이타는 인구 밀도와 관련이 없기에 삭제

In [5]:
# 5- [결과확인] 면적이 null 값이 있는지 없는지 확인

## 2010년 인구밀도 계산하고 표현
        
        
    인구밀도 = 인구 / 면적
        
    필요한 데이타는 2010년 전체 인구에 대한 데이타집합이다.

In [6]:
'''

# 필요한 데이타집합 추출
data = finalmerged[finalmerged['year']==2010]
data = data[finalmerged['ages']=='total']
# print(data)

# 주(state)를 기준으로 데이타 인덱스를 정하고 인구밀도 계산
data.set_index('state', inplace=True)
# print(data)


density = data['population']/data['area (sq. mi)']
density

density.sort_values(ascending=False, inplace=True)
print(density)  
'''

"\n# 필요한 데이타집합 추출\ndata = finalmerged[finalmerged['year']==2010]\ndata = data[finalmerged['ages']=='total']\n# print(data)\n\n# 주(state)를 기준으로 데이타 인덱스를 정하고 인구밀도 계산\ndata.set_index('state', inplace=True)\n# print(data)\n\n\ndensity = data['population']/data['area (sq. mi)']\ndensity\n\ndensity.sort_values(ascending=False, inplace=True)\nprint(density)  \n"

### [결과] 

        state
        District of Columbia    8898.897059
        New Jersey              1009.253268
        Rhode Island             681.339159
        Connecticut              645.600649
        Massachusetts            621.815538
        Maryland                 466.445797
        Delaware                 460.445752
        New York                 356.094135
        Florida                  286.597129
        Pennsylvania             275.966651
        Ohio                     257.549634
        California               228.051342
        Illinois                 221.687472
        Virginia                 187.622273
        Indiana                  178.197831
        North Carolina           177.617157
        Georgia                  163.409902
        Tennessee                150.825298
        South Carolina           144.854594
        New Hampshire            140.799273
        Hawaii                   124.746707
        Kentucky                 107.586994
        Michigan                 102.015794
        Washington                94.557817
        Texas                     93.987655
        Alabama                   91.287603
        Louisiana                 87.676099
        Wisconsin                 86.851900
        Missouri                  86.015622
        West Virginia             76.519582
        Vermont                   65.085075
        Mississippi               61.321530
        Minnesota                 61.078373
        Arizona                   56.214497
        Arkansas                  54.948667
        Iowa                      54.202751
        Oklahoma                  53.778278
        Colorado                  48.493718
        Oregon                    39.001565
        Maine                     37.509990
        Kansas                    34.745266
        Utah                      32.677188
        Nevada                    24.448796
        Nebraska                  23.654153
        Idaho                     18.794338
        New Mexico                16.982737
        South Dakota              10.583512
        North Dakota               9.537565
        Montana                    6.736171
        Wyoming                    5.768079
        Alaska                     1.087509


---


  [분석결과]
  
  인구 밀도가 가장 높은 주는 District of Columbia(DC) 워싱톤DC 이고
  그 다음은 Puerto Rico 이다.
  
  인구 밀도가 가장 작은 Alaska는 1제곱마일당 평균 주민수가 1만명정도이다.
  
  [시각화작업]